@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.el-container {
  padding: 20px 80px 20px 80px;
}
.headerMenu {
  color: #ffffff;
}
.headerMenu:hover {
  color: #118da8;
}
.menuOption {
  color: #ffffff;
  text-decoration: none;
}
.menuOption:hover {
  color: #118da8;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.pokemonHeight,
.pokemonWeight,
.pokemonAbility {
  font-style: italic;
}
* {
  text-decoration: none;
  font-family: DM Sans;
}
h1 {
  font-size: 48px;
}
